<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.evecom.androidecssp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 获取电话状态imei -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="net.evecom.androidecssp.activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.evecom.androidecssp.base.AfnailPictureActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.base.UploadPictureActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        
        <activity android:name="net.evecom.androidecssp.activity.MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.activity.EventListActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.activity.ProjectListActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.activity.TaskListActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.activity.ResponseListActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="net.evecom.androidecssp.activity.TaskResponseAddActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        
        
        
    </application>

</manifest>
